@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: #242422;
}

.seccion {
  padding: 110px 40px 130px;
  display: flex;
  justify-content: center;
}

.fondo-blanco {
  background-color: #ffffff;
}

.fondo-gris {
  background-color: #f6f7fb;
}

.fondo-cita {
  background-color: #cbaacb;
  background: linear-gradient(0deg, #cbaacb, #cbaacb98);
}

.titulos-principales {
  font-size: 45px;
  font-weight: 900;
  padding: 30px;
  text-align: center;
  width: 100%;
}

.centrado-p {
  text-align: center;
}

.parrafos {
  font-size: 16px;
  padding-top: 15px;
  max-width: 700px;
}

a {
  text-decoration: none;
}

/*HEADER*/

header {
  position: fixed;
  top: 0;
  background-color: #cbaacb;
  box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
  padding: 25px 0 25px;
  width: 100%;
  z-index: 1;
}

.lista-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.lista-nav > a li {
  font-size: 18px;
  font-weight: 300;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #cbaacb;
  border-radius: 25px;
  list-style: none;
  transition: 0.2s;
}

.lista-nav > a li:hover {
  border: 1px solid #3f3d56;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.estilo-boton {
  padding: 10px;
  border-radius: 25px;
  background-color: #3f3d56;
  color: #ffffff;
  border: 1px solid #3f3d56;
  transition: 0.5s ease-in;
}

.estilo-boton:hover {
  padding: 10px;
  border-radius: 25px;
  background-color: #3f3d56d2;
  border: 1px solid #3f3d56d2;
  color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.boton-contacto {
  padding: 10px;
  border-radius: 25px;
  background-color: #3f3d56;
  color: #ffffff;
  border: 1px solid #3f3d56;
  transition: 0.5s ease-in;
}

.boton-contacto:hover {
  padding: 10px;
  border-radius: 25px;
  background-color: #3f3d56d2;
  color: #ffffff;
  border: 1px solid #3f3d56d2;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/*SECTION PRESENTACION*/

.contenedor-presentacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 75px;
}

.presentacion {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 400px;
  height: 450px;
}

.presentacion > div h3 {
  font-size: 40px;
  padding-top: 20px;
  color: #3f3d56;
}

.presentacion > div h1 {
  font-size: 60px;
  font-family: "Dancing Script", cursive;
  color: #cbaacb;
}

.presentacion > div p {
  color: #3f3d56;
}

.presentacion > div a {
  margin-top: 20px;
  font-size: 20px;
}

.imagen-principal {
  width: 450px;
  height: 400px;
  overflow: hidden;
  margin-left: 10px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.imagen-principal > img {
  width: 450px;
  height: 400px;
}

/*SECCION MIS CONOCIMIENTOS*/

.contenedor-conocimientos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-tarjetas {
  width: 66%;
  margin-top: 30px;
  background-color: #f6f7fb;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.tarjeta-conocimientos {
  margin: 10px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #aba29f;
  border-radius: 20px;
  width: 250px;
  height: 260px;
  transition: 1s;
}

.contenedor-tarjetas div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.contenedor-tarjetas div:hover {
  border: 3px solid #cbaacb;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tarjeta-conocimientos > .fab {
  font-size: 120px;
  color: #cbaacb;
}

.tarjeta-conocimientos > p {
  font-size: 18px;
  font-weight: 700;
}

/*SECTION CITA*/

.centrado-cita {
  display: flex;
  justify-content: center;
}

.contenedor-cita {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 100px 70px;
  width: 850px;
}

.fa-quote-right {
  font-size: 60px;
  color: #3f3d56;
}

.contenedor-cita > p {
  color: #3f3d56;
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
  width: 70%;
}

/*SECCION MIS PROYECTOS*/

.contenedor-proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1620px;
}

.cajas-proyectos {
  width: 70%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.tarjeta-proyecto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #cbaacb;
  border-radius: 20px;
  width: 295px;
  height: 300px;
  position: relative;
  z-index: 0;
  transition: 0.3s;
}

.tarjeta-proyecto:hover {
  border: 3px solid #aba29f;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateY(-10px);
}

.imagen-proyecto > img {
  width: 230px;
}

/*SECCION FORMULARIO*/

.centrado-formulario {
  display: flex;
  justify-content: center;
}

.contenedor-formulario {
  width: 70%;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #aba29f;
  display: flex;
  justify-content: center;
}

.contactame {
  padding: 40px 30px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.redes {
  margin-bottom: 65px;
}

.redes > ul {
  padding-left: 0;
  padding-right: 5px;
}

.contactame li {
  list-style: none;
  display: flex;
  align-items: center;
}

.contactame li i {
  font-size: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 8px;
  margin: 2px;
  color: #3f3d56;
  border: 1px solid #ffffff;
  transition: 1s;
}

.contactame li i:hover {
  font-size: 20px;
  border-radius: 20px;
  background-color: #cbaacb;
  padding: 8px;
  margin: 2px;
  color: #3f3d56;
  border: 1px solid #cbaacb;
}

.escribime {
  padding: 40px;
  width: 100%;
}

.nombre-apellido {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nombre-apellido > label,
.email-mensaje > label {
  margin-top: 10px;
  width: 100%;
}

.nombre-apellido > label input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 20px;
  border: none;
  background-color: #f6f7fb;
}

.email-mensaje {
  display: flex;
  flex-direction: column;
}

.email-mensaje > label input,
textarea {
  width: 100%;
  border-radius: 20px;
  border: none;
  margin-top: 10px;
  padding: 8px;
  background-color: #f6f7fb;
}

#boton-formulario {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
  width: 100px;
  padding: 15px;
  font-size: 16px;
}

footer {
  background-color: #cbaacb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.nav-footer ul,
.redes-footer ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.nav-footer > ul a {
  text-decoration: none;
}

.nav-footer > ul li,
.redes-footer > ul li {
  list-style: none;
  margin: 20px;
  color: #3f3d56;
}

.nav-footer > ul li:hover {
  color: #3f3d56d2;
}

.redes-footer > ul li i {
  font-size: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 10px;
  margin: 2px;
  color: #3f3d56;
  border: 1px solid #ffffff;
  transition: 1s;
}

.redes-footer > ul li i:hover {
  background-color: #3f3d56;
  color: #ffffff;
  border: 1px solid #3f3d56;
}

footer > p {
  color: #3f3d56;
  font-size: 16px;
}

/*MEDIA*/

@media (max-width: 380px) {
  .contenedor-tarjetas {
    width: 100%;
  }

  .redes-footer > ul li i {
    font-size: 16px;
    padding: 5px;
  }

  .redes-footer > ul li i:hover {
    font-size: 16px;
    padding: 5px;
  }
}

@media (max-width: 450px) {
  .seccion {
    padding: 0;
  }

  .titulos-principales {
    font-size: 25px;
  }

  .parrafos {
    font-size: 15px;
    text-align: center;
    padding: 15px;
  }

  .presentacion > div h1 {
    font-size: 50px;
  }

  .contenedor-presentacion {
    padding-bottom: 30px;
  }

  .imagen-principal {
    width: 300px;
    height: 300px;
  }

  .imagen-principal > img {
    width: 300px;
    height: 300px;
  }

  .presentacion {
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .contenedor-tarjetas,
  .cajas-proyectos {
    width: 100%;
  }

  .tarjeta-conocimientos {
    font-size: 80px;
    width: 100px;
    height: 110px;
  }

  .formulario {
    padding-bottom: 20px;
  }
}

@media (max-width: 550px) {
  header {
    display: none;
  }

  .contenedor-presentacion {
    margin: 0;
  }

  .contactame,
  .escribime {
    padding: 0;
  }

  .nav-footer {
    display: none;
  }
}

@media (max-width: 600px) {
  .contenedor-tarjetas {
    width: 100%;
  }
}

@media (max-width: 1150px) {
  .tarjeta-conocimientos {
    width: 150px;
    height: 160px;
    padding: 10px;
  }

  .tarjeta-conocimientos > .fab {
    font-size: 100px;
  }

  .cajas-proyectos {
    justify-content: center;
  }

  .formulario {
    background-color: #ffffff;
  }

  .contenedor-formulario {
    display: flex;
    flex-direction: column;
    border: none;
  }
}
