@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    color: #242422;
}

.fuente_titulos_principales{
    font-size: 45px;
    font-weight: 900;
    padding:30px;
    text-align: center;
    width: 100%;
/*en responsive sacarle el font size*/
}


/*HEADER*/

header{
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
    padding: 25px 0;
    width: 100%;
    z-index: 10;
/*En 540px sacar el header con responsive*/
}

.opciones_nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.opciones_nav > li{
    font-size: 18px;
    font-weight: 300;
    margin: 0 10px;
    padding: 10px;
    border-radius: 25px;
    list-style: none;   
}

.opciones_nav > li:hover{
    color: #7FC1A9;
}

.boton{
    padding: 10px;
    border-radius: 25px;
    background-color: #7FC1A9;
    color: #FFFFFF;
    border: 1px solid #7FC1A9;
}

.boton:hover{
    padding: 10px;
    border-radius: 25px;
    background-color: #FFFFFF;
    border: 1px solid #7FC1A9;
    color:#7FC1A9;
}

/*SECTION HOLA*/

#hola{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 95.5px;
    background-color: #FFFFFF;
    width: 100%;
}

.presentacion{
    width: 400px;
    height: auto;
    margin: 0 10px;
}

.presentacion > h3{
    font-size: 40px;
    padding-top:20px;
}

.presentacion > h1{
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    color: #CBAACB;
}

.presentacion > p{
    font-size: 16px;
    padding-top: 15px;
}

.presentacion > button{
    margin-top: 20px;
    font-size: 20px;
}
.imagen{
    width: 450px;
    height: 400px;
    overflow: hidden;
    margin-left: 10px;

/*En 450px ponerle responsive para ocultar la imagen*/
}

.imagen > img{
    /* width: 100%;
    height: 100%; */
    width: 450px;
    height: 400px;
}


/*SECTION CONOCIMIENTOS*/

#conocimientos,#proyectos{
    background-color: #F6F7FB;
}

 #conocimientos > p,#proyectos > p{
    display: flex;
    justify-content: center;
}


.contenedor_conocimientos{
    width: 55%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    background-color: #F6F7FB;


    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.lenguajes{
    margin: 10px;
    padding: 5px;
    background-color: #FFFFFF;
    border: 1px solid #ABA29F;
    border-radius: 20px;
    width: 250px;
    height: 260px;
/*Cuando se haga responsive achicar el widht y el height*/    
}



.contenedor_conocimientos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor_conocimientos div:hover {
    border: 3px solid #CBAACB;
}

.lenguajes > .fab{
    font-size: 120px;
    color: #CBAACB;
}

.lenguajes > p{
    font-size: 18px;
    font-weight: 700;
}

/*SECTION CITA*/

.cita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    text-align: center;
    height:auto;
    padding: 100px 70px;

    background-color:#CBAACB;
}

.fa-quote-right{
    font-size: 60px;
    color:#ffffb5;
}

.cita > p{
    color:#FFFFFF;
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
}

/*PROYECTOS*/
.contenedor_proyectos{
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    background-color: #F6F7FB;


    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.tarjeta_proyecto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10px;
    padding: 5px;
    background-color: #FFFFFF;
    border: 1px solid #ABA29F;
    border-radius: 20px;
    width: 295px;
    height: 300px; 
}

 .imagen_proyecto > img{
    width: 230px;
    height: auto;
}

.tarjeta_proyecto:hover{
    border: 3px solid #FFFFB5;
}
