@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: #242422;
}

.seccion{
  padding: 110px 40px 130px;
  display:flex;
  justify-content:center;
}

.fondo-blanco{
  background-color: #FFFFFF;
}

.titulos-principales {
  font-size: 45px;
  font-weight: 900;
  padding: 30px;
  text-align: center;
  width: 100%;
}

.parrafos{
  font-size: 16px;
  padding-top: 15px;
}

.estilo-hipervinculos{
  text-decoration: none;
}

/*HEADER*/

header {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
  padding: 25px 0;
  width: 100%;
}

.lista-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.lista-nav > a li {
  font-size: 18px;
  font-weight: 300;
  margin: 0 10px;
  padding: 10px;
  border-radius: 25px;
  list-style: none;
}

.lista-nav > a li:hover {
  color: #7fc1a9;
}

.estilo-boton {
  padding: 10px;
  border-radius: 25px;
  background-color: #7fc1a9;
  color: #ffffff;
  border: 1px solid #7fc1a9;
  transition: 0.5s ease-in;
}

.estilo-boton:hover {
  padding: 10px;
  border-radius: 25px;
  background-color: #ffffff;
  border: 1px solid #7fc1a9;
  color: #7fc1a9;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/*SECTION PRESENTACION*/
.contenedor-presentacion{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.presentacion {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 400px;
  height: 450px;
}

.presentacion > div h3 {
  font-size: 40px;
  padding-top: 20px;
}

.presentacion > div h1 {
  font-size: 60px;
  font-family: "Dancing Script", cursive;
  color: #cbaacb;
}

.presentacion > div a {
  margin-top: 20px;
  font-size: 20px;
}

.imagen-principal {
  width: 450px;
  height: 400px;
  overflow: hidden;
  margin-left: 10px;
}

.imagen-principal > img {
  width: 450px;
  height: 400px;
}

/*SECCION MIS CONOCIMIENTOS*/

#conocimientos {
  background-color: #f6f7fb;
  padding: 40px 0 50px;
}
/* 
#conocimientos > p,
#proyectos > p {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  text-align: center;
} */

.contenedor-conocimientos {
  width: 55%;
  height: auto;
  margin: auto;
  margin-top: 30px;
  background-color: #f6f7fb;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.tarjeta-conocimientos {
  margin: 10px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #aba29f;
  border-radius: 20px;
  width: 250px;
  height: 260px;
  transition: 1s;
}

.contenedor-conocimientos div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-conocimientos div:hover {
  border: 3px solid #cbaacb;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tarjeta-conocimientos > .fab {
  font-size: 120px;
  color: #cbaacb;
}

.tarjeta-conocimientos > p {
  font-size: 18px;
  font-weight: 700;
}

/*SECTION CITA*/

.contenedor-cita {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  text-align: center;
  height: auto;
  padding: 100px 70px;

  background-color: #cbaacb;
}

.fa-quote-right {
  font-size: 60px;
  color: #ffffb5;
}

.contenedor-cita > p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
  width: 70%;
}

/*SECCION MIS PROYECTOS*/

#proyectos {
  padding: 40px 0 50px;
}

.contenedor-proyectos {
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 30px;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.tarjeta-proyecto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #aba29f;
  border-radius: 20px;
  width: 295px;
  height: 300px;

  transition: 1s;
}

.imagen-proyecto > img {
  width: 230px;
  height: auto;
}

.tarjeta-proyecto:hover {
  border: 3px solid #ffffb5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*SECCION FORMULARIO*/

#formulario {
  background-color: #f6f7fb;
  padding: 40px 0 50px;
}
.contenedor-formulario {
  width: 70%;
  margin: auto;
  margin-top: 30px;

  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #aba29f;

  display: flex;
  justify-content: center;
  flex-direction: row;
}

.contactame {
  padding: 40px 30px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.redes {
  margin-bottom: 65px;
}

.redes > ul {
  padding-left: 0;
  padding-right: 5px;
}

.redes > ul li a,
.redes-footer > ul li a {
  text-decoration: none;
}

.contactame li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contactame li i {
  font-size: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 8px;
  margin: 2px;
  color: #7fc1a9;
  border: 1px solid #ffffff;
  transition: 1s;
}

.contactame li i:hover {
  font-size: 20px;
  border-radius: 20px;
  background-color: #7fc1a9;
  padding: 8px;
  margin: 2px;
  color: #ffffff;
  border: 1px solid #7fc1a9;
}

.escribime {
  padding: 40px;
  width: 100%;
}

.nombre-apellido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nombre-apellido > label input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 20px;
  border: none;
  background-color: #f6f7fb;
}

.nombre-apellido > label {
  margin-top: 10px;
}

.email-mensaje {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.email-mensaje > label input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  display: flex;
  flex-direction: column;
  background-color: #f6f7fb;
}

.email-mensaje > label {
  margin-top: 10px;
}

textarea {
  width: 100%;
  border-radius: 20px;
  border: none;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f6f7fb;
}

#boton-formulario {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
  width: 100px;
  padding: 15px;
  font-size: 16px;
}

footer {
  background-color: #cbaacb;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.nav-footer ul,
.redes-footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

.nav-footer > ul a {
  text-decoration: none;
}

.nav-footer > ul li,
.redes-footer > ul li {
  list-style: none;
  margin: 20px;
  color: #ffffff;
}

.nav-footer > ul li:hover {
  color: #ffffb5;
}

.redes-footer > ul li i {
  font-size: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 10px;
  margin: 2px;
  color: #cbaacb;
  border: 1px solid #ffffff;
  transition: 1s;
}

.redes-footer > ul li i:hover {
  font-size: 20px;
  border-radius: 20px;
  background-color: #cbaacb;
  padding: 10px;
  margin: 2px;
  color: #ffffff;
  border: 1px solid #ffffff;
}

footer > p {
  color: #ffffff;
  font-size: 16px;
}


/*MEDIA*/

@media (max-width: 380px) {
  .redes-footer > ul li i {
    font-size: 16px;
    padding: 5px;
  }

  .redes-footer > ul li i:hover {
    font-size: 16px;
    padding: 5px;
  }
}

@media (max-width: 450px) {
  .titulos-principales {
    font-size: 25px;
  }

  #hola {
    padding-bottom: 30px;
  }

  .imagen-principal {
    display: none;
  }

  .presentacion{
    text-align: center;
  }
  
  .tarjeta-conocimientos {
    width: 150px;
    height: 160px;
  }

  .contactame {
    padding: 0;
  }

  .escribime {
    padding: 0;
  }

  .nombre-apellido > label input {
    width: 235px;
  }

  .email-mensaje > label input {
    width: 235px;
  }

  textarea {
    width: 235px;
  }
}

@media (max-width: 550px) {
  header {
    display: none;
  }

  .contenedor-cita {
    padding: 30px 0;
  }

  .nav-footer {
    display: none;
  }
}

@media (max-width: 1000px) {
  .contenedor-conocimientos {
    width: 100%;
  }

  .tarjeta-conocimientos {
    width: 190px;
    height: 200px;
  }

  .contenedor-proyectos {
    width: 100%;
  }

  .tarjeta-proyecto {
    width: 280px;
    height: 285px;
  }
  .contenedor-formulario {
    display: flex;
    flex-direction: column;
    border: none;
  }

  #formulario {
    background-color: #ffffff;
  }
}
